.article-create-form-container {
    max-width: 80wv;
    margin: auto; /* Центрирование по горизонтали */
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px; /* Закругленные углы */
    background-color: #fff; /* Белый фон */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

.article-p {
    margin-bottom: 15px;
}

.article-label {
    font-weight: bold;
}

@media (max-width: 576px) {
    /* Стили для мобильных устройств */
    .article-create-form-container {
        margin-top: 50px; /* Добавление отступа сверху на мобильных устройствах */
    }
}

.article-form-title {
    margin-bottom: 20px;
}



.article-p {
    display: flex;
    align-items: center;
}

.article-label {
    width: 120px;
    margin-right: 10px; /* Добавьте отступ справа по вашему усмотрению */
}

.article-p div {
    margin-left: auto; /* Помещает блок с ошибками в конец .login-p */
}

