/* Thread styles */

.article-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px auto;
}

.article-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.article-card a:hover {
  text-decoration: underline;
}

.article-detail-container {
  width: 60%; /* Устанавливаем максимальную ширину контейнера для статьи */
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.article-info {
  color: #666;
}

.article-body {
  line-height: 1.6;
}

/* article comment */
.comment-container {
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

