/* ОБЩИЕ СТИЛИ */
.comment-input > textarea {
    resize: both;
    rows: 5;
}
/* ОБЩИЕ СТИЛИ */



@media(max-width: 1200px){
    .form-title {
        margin: 10px 0;
    }

    .create-form-container {
        margin: auto; /* Центрирование по горизонтали */
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px; /* Закругленные углы */
        background-color: #fff; /* Белый фон */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
    }

    .create-comment-form-container {
        margin-top: 40px;
    }


    /* article edit and article create */
    .article-p {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .article-label {
        width: 120px;
        margin-right: 10px; /* Добавьте отступ справа по вашему усмотрению */
    }

    .article-p div {
        margin-left: auto; /* Помещает блок с ошибками в конец .login-p */
    }

    /* category form */
    .category-p {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .category-label {
        width: 120px;
        margin-right: 10px; /* Добавьте отступ справа по вашему усмотрению */
        font-weight: bold;
    }

    .category-p div {
        margin-left: auto; /* Помещает блок с ошибками в конец .login-p */
    }

    /* comment form */
    .comment-container {
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    /* comment form */
}

@media(max-width: 992px){
    .comment-form-title {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .comment-input {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

    .add-comment-button {
        margin: 20px 0;
        font-size: 2.75rem;
        border-radius: 0.5rem;
    }

    .create-comment-form-container {
        margin-top: 40px;
    }

}



