{% extends 'blog/Base.html' %}

{% block content %}
<div class="article-container">
    <h2 class="article-detail-title">{{ article.title }}</h2>
    <p class="article-info">{{ article.publish|date:"F d, Y" }} | Категория:
        <a href="{{ article.category.get_absolute_url }}">{{ article.category.name }}</a>
    </p>
    <hr>
    <div class="article-body">{{ article.body|safe }}</div>
    {% if user.is_staff %}
    <a class="article-detail-edit" href="{% url 'edit-article' article.slug %}">Править</a>
    {% endif %}



    {% include 'blog/includes/CommentForm.html' %}


<div class="comment-container">
    <h2 class="comment-form-title">Комментарии</h2>
    {% for comment in comments %}
    <div class="card article-comment">
        <div class="card-header">
            {{ comment.created }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ comment.body }}</p>
                <footer class="blockquote-footer"><cite title="Source Title">{{ comment.user }}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}