{% load static %}
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/article.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/includes.css' %}">

    <link rel="icon" href="{% static 'blog/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'blog/favicon/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">

</head>
<body>
<header>
    <div class="d-flex justify-content-between w-100">
        <ul class="nav nav-pills">
            {% for pos in menu %}
            <li class="nav-item">
                <a class="nav-link" href="{% url pos.url_name %}">{{ pos.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="nav nav-pills ms-auto left-ul">
            <!-- Второй список -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_app:logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_app:login' %}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_app:register' %}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <hr>
</header>

<main>

    <nav aria-label="breadcrumb" class="nav-links">
        <ol class="breadcrumb">
            {% for i in path %}
            <li class="breadcrumb-item"><a href="/{{ i.url }}">{{ i.nav_title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        </ol>
    </nav>

    <div class="content-container">
            {% block content %}
    {% endblock %}
    </div>

</main>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">

        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Связаться с нами в социальных сетях:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div class="social-container">
            <a href="https://t.me/+GX7ifopDdPw2NDUy" class="me-4 text-reset social">
                <i class="fab fa-github"><img class="social-img" src="{% static 'blog/svg_icons/telegram.svg' %}"
                                              height="24px"></i>
            </a>
            <a href="mailto:morphologist.view@gmail.com" class="me-4 text-reset social">
                <i class="fab fa-linkedin"><img class="social-img" src="{% static 'blog/svg_icons/email.svg' %}"
                                                height="24px"></i>
            </a>
            <a href="https://github.com/max31ru12" class="me-4 text-reset social">
                <i class="fab fa-github"><img class="social-img" src="{% static 'blog/svg_icons/github.svg' %}"
                                              height="24px"></i>
            </a>
            <a href="/blog" class="me-4 text-reset social">
                <i class="fab fa-github"><img class="social-img" src="{% static 'blog/svg_icons/whatsapp.svg' %}"
                                              height="24px"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <div class="footer-container">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Взгляд Морфолога
                    </h6>
                    <p>
                        <i class="fab fa-github"><img alt="Logo" class="logo"
                                                      src="{% static 'blog/svg_icons/WhiteLogo.svg' %}" height="160px"></i>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Книги
                    </h6>
                    <p>
                        <a href="#!" class="text-reset"></a>
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Связанное с нами
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Школа</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Лекции</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
                    <p><i class="fas fa-home me-3"></i> Москва </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        morphologist.view@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </section>
    </div>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Вгляд Морфолога
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
    </div>

</footer>


</body>
