/* Category List */
.cat-list-container {
    width: 60%;
    margin: auto;
}

.category-link {
    font-size: 24px;
}



/* Category detail */
.category-article-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px auto;
}

.category-detail-container h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.category-article-info {
    color: #666;
}

.category-article-body {
  line-height: 1.6;
}

.category-article-card a {
    font-size: 24px;
}