{% extends "auth_app/BaseAuth.html" %}

{% block content %}
<div class="login-form-container">
    <h1 class="auth-form-title">Сбросить пароль</h1>
    {% if validlink %}
    <p>Введите новый пароль и подвердите его:</p>
    <form action="." method="post">
        <div class="form-group">
            {% csrf_token %}
            {% for f in form %}
            <p class="login-p"><label class="login-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div>{{ f.errors }}</div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Сменить пароль</button>
        </div>
    </form>
    {% else %}
    <p>Данная ссылка на сброс пароля больше не действительна, Возможно, она уже была использована.
        Пожалуйста, запросите новую ссылку.</p>
    {% endif %}
</div>
{% endblock %}
